.vs/PRN221_GroupProject/FileContentIndex/4a35e41a-9d8f-4fd1-9e27-96d1cd1d59f8.vsidx
.vs/PRN221_GroupProject/FileContentIndex/5c2175a8-17fa-4d43-b008-67939d54a596.vsidx
.vs/PRN221_GroupProject/FileContentIndex/9b7038c2-7435-4af1-87af-a81bdfdeb709.vsidx
.vs/PRN221_GroupProject/FileContentIndex/79514b05-a698-42d9-b774-dda042c6a74a.vsidx
.vs/PRN221_GroupProject/FileContentIndex/ebd2da22-7a5e-430e-9189-e7443d782237.vsidx
PRN221_GroupProject/obj/Debug/net8.0/project.razor.vscode.bin
PRN221_GroupProject/obj/Debug/net8.0/project.razor.vscode.bin
