################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PRN221_GroupProject/DesignTimeBuild/.dtbcache.v2
/.vs/PRN221_GroupProject/FileContentIndex
