/* _content/PRN221_GroupProject/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*[b-8nzq1znbmq] {
  margin: 0;
  padding: 0;
}
a.navbar-brand[b-8nzq1znbmq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8nzq1znbmq] {
  color: #0077cc;
}

.btn-primary[b-8nzq1znbmq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8nzq1znbmq],
.nav-pills .show > .nav-link[b-8nzq1znbmq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8nzq1znbmq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8nzq1znbmq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8nzq1znbmq] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-8nzq1znbmq] {
  font-size: 1rem;
  line-height: inherit;
}

.container-custom[b-8nzq1znbmq] {
  margin: 0;
}

.footer[b-8nzq1znbmq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.main-body[b-8nzq1znbmq] {
  height: calc(100% - 370px);
  margin-left: 10px;
}
.content[b-8nzq1znbmq] {
  margin: 20px 80px 320px;
}
.main-body-content[b-8nzq1znbmq] {
  margin-left: 0; /* Đặt margin-left về 0 */
  transition: margin-left 0.6s ease;
  width: 100%;
  text-align: justify;
  padding: 0;
}
.main-body-content.active[b-8nzq1znbmq] {
  margin-left: 20%; /* Đặt margin-left thành 20% khi sidebar active */
  width: 80%; /* Đặt width thành 80% khi sidebar active */
}

/* sidebar start, Sao*/
.menu-btn[b-8nzq1znbmq] {
  color: rgb(0, 0, 0);
  font-size: 32px;
  cursor: pointer;
  margin-right: 28px;
}

.side-bar[b-8nzq1znbmq] {
  background: #184ac0;
  backdrop-filter: blur(15px);
  width: 20%;
  position: absolute;
  top: 70px;
  left: -24%;
  transition: 0.6s ease;
  transition-property: left;
  overflow-y: auto;
  height: calc(100% - 370px);
  max-width: 300px;
  min-width: 300px;
  border-right: 2px solid #969696;
  border-top: 1px solid #969696;
}
.side-bar[b-8nzq1znbmq]::-webkit-scrollbar {
  width: 0px;
}

.side-bar.active[b-8nzq1znbmq] {
  left: 0;
}

.brand-name[b-8nzq1znbmq] {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.side-bar .menu[b-8nzq1znbmq] {
  width: 100%;
  margin-top: 30px;
}

.side-bar .menu .item[b-8nzq1znbmq] {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a[b-8nzq1znbmq] {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover[b-8nzq1znbmq] {
  background: white;
  color: #0d74f5;
  transition: 0.3s ease;
}

.side-bar .menu .item i[b-8nzq1znbmq] {
  margin-right: 15px;
  font-size: 18px;
}

.side-bar .menu .item i:hover[b-8nzq1znbmq] {
  color: #0d74f5;
}

.dropdown[b-8nzq1znbmq] {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu[b-8nzq1znbmq] {
  background: #478be9;
  display: none;
}

.side-bar .menu .item .sub-menu a[b-8nzq1znbmq] {
  padding-left: 80px;
}

.rotate[b-8nzq1znbmq] {
  transform: rotate(90deg);
}

.close-btn[b-8nzq1znbmq] {
  position: absolute;
  color: #23479b;
  font-size: 23px;
  right: 0px;
  margin: 15px;
  cursor: pointer;
}

.menu-btn[b-8nzq1znbmq] {
  color: #23479b;
  font-size: 35px;
  cursor: pointer;
}

.brand-name[b-8nzq1znbmq] {
  color: #184ac0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
}

.header-sidebar[b-8nzq1znbmq] {
  background: white;
}

/* sidebar end, Sao */

/*header start, Phat*/
.header[b-8nzq1znbmq] {
  border-bottom: 1px solid #ccc;
  background-color: white !important;
}

.header-container[b-8nzq1znbmq] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 50px !important;
}

.header-image[b-8nzq1znbmq] {
  width: auto;
  max-width: 100%;
}

.form-control[b-8nzq1znbmq] {
  border-radius: 50px 0 0 50px;
  /* Top-left and bottom-left corners */
  height: 47px;
  width: 600px;
  padding: 0 12px;
}

.btn.btn-primary[b-8nzq1znbmq] {
  border-radius: 0 50px 50px 0;
  /* Top-right and bottom-right corners */
  height: 47px;
  background-color: rgb(0, 184, 252);
  padding: 0 12px;
}

.btn.btn-primary:hover[b-8nzq1znbmq] {
  background-color: aliceblue;
  color: rgb(0, 184, 252);
  transition: 0.2s ease;
}

.sign-in-btn[b-8nzq1znbmq],
.cart-btn[b-8nzq1znbmq] {
  border-radius: 50px;
  height: 47px;
  width: 100px;
  background-color: rgb(0, 184, 252);
  color: white;
  border: none;
}

.sign-in-btn:hover[b-8nzq1znbmq],
.cart-btn:hover[b-8nzq1znbmq] {
  background-color: aliceblue;
  color: rgb(0, 184, 252);
  border: 1px solid;
  transition: 0.2s ease;
}

.fa.fa-user[b-8nzq1znbmq],
.fa.fa-shopping-cart[b-8nzq1znbmq] {
  margin: 0 5px;
}

.header-content-start[b-8nzq1znbmq],
.header-content-center[b-8nzq1znbmq],
.header-content-end[b-8nzq1znbmq] {
  display: flex;
  align-items: center;
  height: 100%;
}

/*header end, Phat*/

/*footer start, Phat*/
.footer[b-8nzq1znbmq] {
  border-top: 1px solid #ccc;
  background-color: white !important;
  max-height: 300px;
}

.text-label[b-8nzq1znbmq] {
  text-decoration: none;
}

.section-list-links[b-8nzq1znbmq] {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-container[b-8nzq1znbmq] {
  height: auto;
  margin-top: 20px;
  padding: 0px 50px !important;
}

.col-md-3[b-8nzq1znbmq] {
  padding: 12px;
}

.footer-title[b-8nzq1znbmq] {
  font-size: 22px;
}

.section-list-links li[b-8nzq1znbmq] {
  line-height: 2;
  margin: 3px 0;
}

.section-list-links li p[b-8nzq1znbmq],
li a[b-8nzq1znbmq] {
  display: inline;
  color: black;
}

.footer-connect[b-8nzq1znbmq] {
  margin-top: 15px;
}

.footer-connect .footer-title[b-8nzq1znbmq] {
  margin-bottom: 0;
}

.footer-connect .fa-brands.fa-facebook[b-8nzq1znbmq],
.fa-brands.fa-instagram[b-8nzq1znbmq],
.fa-solid.fa-envelope[b-8nzq1znbmq] {
  font-size: 30px;
  margin-inline-end: 10px;
  color: rgb(0, 184, 252);
}

.footer-trademark-container[b-8nzq1znbmq] {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.footer-trademark-container .footer-trademark[b-8nzq1znbmq] {
  max-width: 100%;
  font-size: 12px;
  word-wrap: normal;
  color: black;
}

/*footer end, Phat*/
/* _content/PRN221_GroupProject/Pages/Shared/_UserLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9y10b0n4qm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9y10b0n4qm] {
  color: #0077cc;
}

.btn-primary[b-9y10b0n4qm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9y10b0n4qm], .nav-pills .show > .nav-link[b-9y10b0n4qm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9y10b0n4qm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9y10b0n4qm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9y10b0n4qm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9y10b0n4qm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9y10b0n4qm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
