@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/@(nameof(PRN221_GroupProject)).styles.css" />
<div style="background-color:antiquewhite!important; position: relative;">
    <div style="position: absolute;top:0.75%; left: 50%; transform: translate(-50%, -50%)">
        <div style="position: relative; ">
            <img class="" src="~/img/sanPhamBanChay.png" alt="Image Description"
                style="display: block; margin: 0 auto;">
            <h2
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; padding: 10px; font-size:110%; color:white; width:70%; text-align: center">
                Sản phẩm bán chạy</h2>
        </div>
    </div>


    <div class="container" style="padding: 50px 0">
        <!-- Products Section -->
        <div class="row mt-4">
            @foreach (var part in Model.Product)
            {
                <div class="col-6 col-lg-2 mb-5 mb-lg-0 mt-4">
                    <!-- Card -->
                    <div class="card d-block custom-card">
                        <img style="height: 230px;" class="card-img-top p-3 custom-card-img"
                            src="~/img/Product/@part.ImageUrl" alt="Image Description">
                        <div class="card-footer text-center py-4 " style="height: 225px">
                            <div class="card-name">
                                <h3 class="h5 mb-1" style=" display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;white-space: normal;">@part.Name</h3>

                            </div>
                            <span class="d-block text-muted font-size-1 mb-1">@part.Price VNĐ</span>




                            <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="#"
                                style=" margin-top:auto; padding-bottom: 10px;">Buy</a>



                        </div>
                    </div>
                    <!-- End Card -->
                </div>
            }


        </div>
    </div>
</div>