@page
@model PRN221_GroupProject.Pages.Admin.Order.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>OrderHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderHeader.Id" />
            <div class="form-group">
                <label asp-for="OrderHeader.OrderHeaderId" class="control-label"></label>
                <input asp-for="OrderHeader.OrderHeaderId" class="form-control" />
                <span asp-validation-for="OrderHeader.OrderHeaderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.UserId" class="control-label"></label>
                <select asp-for="OrderHeader.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="OrderHeader.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.Name" class="control-label"></label>
                <input asp-for="OrderHeader.Name" class="form-control" />
                <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.Phone" class="control-label"></label>
                <input asp-for="OrderHeader.Phone" class="form-control" />
                <span asp-validation-for="OrderHeader.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.Email" class="control-label"></label>
                <input asp-for="OrderHeader.Email" class="form-control" />
                <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.Address" class="control-label"></label>
                <input asp-for="OrderHeader.Address" class="form-control" />
                <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.City" class="control-label"></label>
                <input asp-for="OrderHeader.City" class="form-control" />
                <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.District" class="control-label"></label>
                <input asp-for="OrderHeader.District" class="form-control" />
                <span asp-validation-for="OrderHeader.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.Ward" class="control-label"></label>
                <input asp-for="OrderHeader.Ward" class="form-control" />
                <span asp-validation-for="OrderHeader.Ward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.PaymentMethod" class="control-label"></label>
                <input asp-for="OrderHeader.PaymentMethod" class="form-control" />
                <span asp-validation-for="OrderHeader.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.OrderStatus" class="control-label"></label>
                <input asp-for="OrderHeader.OrderStatus" class="form-control" />
                <span asp-validation-for="OrderHeader.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.TotalPrice" class="control-label"></label>
                <input asp-for="OrderHeader.TotalPrice" class="form-control" />
                <span asp-validation-for="OrderHeader.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.CreatedDate" class="control-label"></label>
                <input asp-for="OrderHeader.CreatedDate" class="form-control" />
                <span asp-validation-for="OrderHeader.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.CreatedBy" class="control-label"></label>
                <input asp-for="OrderHeader.CreatedBy" class="form-control" />
                <span asp-validation-for="OrderHeader.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.UpdatedDate" class="control-label"></label>
                <input asp-for="OrderHeader.UpdatedDate" class="form-control" />
                <span asp-validation-for="OrderHeader.UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.UpdatedBy" class="control-label"></label>
                <input asp-for="OrderHeader.UpdatedBy" class="form-control" />
                <span asp-validation-for="OrderHeader.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderHeader.CouponId" class="control-label"></label>
                <select asp-for="OrderHeader.CouponId" class="form-control" asp-items="ViewBag.CouponId"></select>
                <span asp-validation-for="OrderHeader.CouponId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
