@page
@model MyApp.Namespace.DetailModel

<div class='Container'>
    <form method="post">
        <input asp-for="emailTemplate.EmailTemplateId" hidden />
        <h1>Email Template</h1>
        <div class="General_Infor">
            <div class="row">
                <div class="col-6">
                    @* Name *@
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col-3">
                                <label for="EmailName" class="col-form-label">Email Name</label>
                            </div>
                            <div class="col">
                                <input asp-for="emailTemplate.Name" type="text" id="EmailName" class="form-control">
                            </div>
                        </div>
                    </div>
                    @* Description *@
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col-3">
                                <label for="Description" class="col-form-label">Description</label>
                            </div>
                            <div class="col">
                                <input asp-for="emailTemplate.Description" type="text" id="Description" class="form-control">
                            </div>
                        </div>
                    </div>
                    @* Category *@
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col-3">
                                <label for="Category" class="col-form-label">Category</label>
                            </div>
                            <div class="col">
                                <input asp-for="emailTemplate.Category" type="text" class="form-control autocomplete" id="autocompleteInputZero" data-suggestions-threshold="0" placeholder="Type something" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <p><span class="w-25 d-inline-block">Created In</span>@Model.emailTemplate.CreatedDate</p>
                    <p><span class="w-25 d-inline-block">Created By</span>@Model.emailTemplate.CreatedBy</p>
                    <div class="form-check form-switch p-0">
                        <p><span class="w-25 d-inline-block">Active</span><input asp-for="emailTemplate.Active" class="form-check-input float-none ms-1" type="checkbox" id="flexSwitchCheckChecked" checked="@Model.emailTemplate.Active"></p>
                    </div>
                </div>
            </div>
        </div>

        <h1>Content</h1>
        <div class="Content_Container">
            @* Subject *@
            <div class="form-group">
                <div class="row p-2">
                    <div class="col-auto">
                        <label for="Subject" class="col-form-label">Subject</label>
                    </div>
                    <div class="col">
                        <input asp-for="emailTemplate.Subject" type="text" id="Category" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <ejs-richtexteditor name="comment" id="commentRTE" value="@Model.emailTemplate.Body">
                </ejs-richtexteditor>
            </div>

            <br />
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>



@section Scripts{
    @* Auto complete input *@
    <script type="module">
        import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";
        const opts = {
            onSelectItem: console.log,
        };
        var src = ['test1', 'Test2'];
        Autocomplete.init("input.autocomplete", {
            items: src,
            valueField: "id",
            labelField: "title",
            highlightTyped: true,
            onSelectItem: console.log,
        });
    </script>

    @* Style for menu *@

    <style>
  /* highlightTyped use mark */
  .autocomplete-menu mark {
    text-decoration: underline;
    background: none;
    color: currentColor;
    padding: 0;
  }

  /* Optional nicer scrollbars */
  .autocomplete-menu {
    --scroller-color: 0, 0%;
    --scroller-color-lightness: 80%;
    --scroller-bg-lightness: 90%;
    --scroller-hover-factor: 0.8;
    --scroller-thumb: hsl(var(--scroller-color), var(--scroller-color-lightness));
    /* Replicate hover for webkit */
    --scroller-thumb-hover: hsl(var(--scroller-color), calc(var(--scroller-color-lightness) * var(--scroller-hover-factor)));
    --scroller-background: hsl(var(--scroller-color), calc(var(--scroller-bg-lightness)));
    scrollbar-color: var(--scroller-thumb) var(--scroller-background);
    scrollbar-width: thin;
  }

  .autocomplete-menu::-webkit-scrollbar {
    width: 8px;
  }

  .autocomplete-menu::-webkit-scrollbar-track {
    background: var(--scroller-background);
  }

  .autocomplete-menu::-webkit-scrollbar-thumb {
    background: var(--scroller-thumb);
  }

  .autocomplete-menu::-webkit-scrollbar-thumb:hover {
    background: var(--scroller-thumb-hover);
  }
</style>

}